<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="jumbotron my-3">
  <h2 class="display-3">Literature citations to the {{ book }}</h2>
  <p class="lead">You can see the citations to your chapter below, sorted by frequency</p>
</div>
<div class="container my-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#strict">Strict Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#aggressive">Aggressive Search</a>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade active show" id="strict">
      <div class='card bg-secondary'>
        <h5 class='card-header'>Strict Search</h5>
        <div class='card-body'>
          {% if s_pubs > 0 %}
          <div class="container-fluid overflow-auto" style="height:300px">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Publication</th>
                <th scope="col">Citations to {{ book }}</th>
              </tr>
            </thead>
            <tbody>
              {% for pair in sc_list %}
              <tr class='table-light'>
                <td> {{ pair[0] }}</td>
                <td> {{ pair[1] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
          {% else %}
          <p>{{ book }} yields no citations under strict search conditions</p>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="aggressive">
      <div class='card bg-danger'>
        <h5 class='card-header'>Aggressive Search</h5>
        <div class='card-body'>
          {% if a_pubs > 0 %}
          <div class="container-fluid overflow-auto" style="height:300px">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Publication</th>
                <th scope="col">Citations to {{ book }}</th>
              </tr>
            </thead>
            <tbody>
              {% for pair in ac_list %}
              <tr class='table-light'>
                <td> {{ pair[0] }}</td>
                <td> {{ pair[1] }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
          {% else %}
          <p>{{ book }} yields no citations under any search codntions</p>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
