<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="jumbotron my-3">
  <h2 class="display-3">Select a chapter</h2>
  <p class="lead">Next, select a chapter from {{ curr_location }}</p>
</div>
<div class="container p-6 overflow-auto" style="height:400px">
  {% for chapter in chapters %}
  <a href="{{ url_for('chapter', book=book, sect=sect, chapter=chapter) }}" class="btn btn-secondary btn-lg btn-block p-3" role="button">Chapter {{ chapter }}</a>
  {% endfor %}
</div>
{% endblock %}
