{% extends "base.html" %}

{% block content %}

<div class='container'>
  Big Picture Project Motivation for people new to Hume and the Treatise.
</div>

<div class='container'>
  Defining the literature with PhilPapers
</div>


<div class='container'>
  Search Procedures (mention the default display settings that will be user-selectable shortly)
    What is a strict Search?
    What is an aggressive Search?
</div>

<div class='container'>
  Similarity explanation
</div>

<div class='container'>
  Paths forward for the project
  -Expanding the functionality for Hume scholars
    -supplying your own paper and  compare its to literature and other articles.
      -this could be of use when writing your own paper, considering a paper you haven't read, etc.
    -giving more fine grained control over comparison classes (currently just minimum number of citations)
      -compare to articles within a journal
      -comparison between journals to see if any patterns emerge
      -compare articles from a given time window (this could be useful to see how textual discoveries are made over time or even to measure influence of articles as the texts they focus on become more predominant in discussinos over time)
      -compare citation patterns among scholars
    -display subsets of the literature by
  -Expanding Philosophical Topic:
    -Go beyond the Personal Identity Literature to create similar collections around different topics.
      -that's useful within for those individual purposes, of course, but it also is useful because it allows us to do comparisons between bodies of literature or find overlaps
      -can reveal higher order patterns in how certain topics relate to one another in the Treatise or how they can be traced to similar parts of the foundations of the Treatise, etc.
      -Eventually you could create judgments about which body of scholarship is most similar to by the texts its citing (you'd want, of course, to have a minimum number of citations for thie publication to do this)
  -Smaller behind the scenes improvements under constant tinkering:
    -smoothing out the pdf to text process
    -refined search patterns
    -improved similarity metrics
    -automated segmenting of comparisons so you get tiers of similar articles rather than impose artificial hard breaks as I have now.
</div>


<div class='container'>
  For a look at the underpinnings of this project, have a look around the github repo.
</div>

{% endblock %}
